#QM{
    float: center;
    width:260px;
    height:140px ;
    margin-right: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#BI{
    float: center;
    width:330px;
    height:132px ;
    margin-right: 20px;
    display: flex;
    align-content: center; 

}

#SCM{
    float: center;
    width:280px;
    height:110px ;
    margin-right: 20px;
    display: flex;
    align-content: center; 

}
#BIKE{
    float: center;
    width:280px;
    height:170x ;
    margin-right: 20px;
    display: flex;
    align-content: center; 

}
#GIT{
    float: left;
    width:130px;
    height:170x ;
    margin-right: 20px;

}
#contact{
    text-align: center;


}